Debug
Release
build
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
cmake*
lifelong.vcxproj
lifelong.vcxproj.filters
lifelong.vcxproj.user
results
__pycache__/
*.pyc
*_heuristics_table.txt
.idea
lifelong
*~
